{% extends "base.html" %}
{% load resources_extras %}
{% load vehicle_tags %}

{% block title %} Home {% endblock %}

{% block content %}
{% get_vehicle 3 as vehicles %}
{% for entry in vehicles %}
    <h2>{{ entry.name | custom:"Nome " }}</h2>
    <h2>{{ entry.plate | custom:"Marca " }}</h2>
    <h2>{{ entry.description | custom:"Descricao " }}</h2>
    <h2>{{ entry.licence_plate | custom:"Placa " }}</h2>
    <h2>{{ entry.manufacture_year | custom:"Ano de Fabricacao " }}</h2>
{%endfor %}

{{ frota | replace:"VW" }}

{% endblock %}